/** THIS TOP SECTION IS SPECIFIC TO OFEPS**/

th {text-align: left;}
table, th, td { border: 1px solid black;}
table {margin-bottom: 30px;border-collapse: collapse;}
th, td {padding: 5px 50px 5px 5px; }

/** BELOW WAS RIPPED FROM openflexure.org**/

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body, html { height: 100%; box-sizing: border-box; }

body { font: 400 16px/1.5 "Open Sans", sans-serif; color: #111; background-color: #ffffff; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

h1, h2 { clear: both; }

/** Links */
a { color: #c5247f; text-decoration: none; }

a:visited { color: #841855; }

a:hover { color: #111; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #505050; border-left: 4px solid #b6b6b6; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #b6b6b6; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(900px - (30px * 2)); max-width: calc(900px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 900px) { .wrapper { max-width: -webkit-calc(900px - (30px)); max-width: calc(900px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.footer-col-wrapper:after, .wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }

.icon > svg path { fill: #505050; }

/** Transparency */
.disabled img { opacity: 0.5; }

/** General layout */
.row { display: flex; }

@media screen and (max-width: 600px) { .row { display: block; } }

.column { flex: 50%; }

/** Site header */
.site-header { border-bottom: 1px solid #b6b6b6; min-height: 56px; position: relative; }

#landingcontainer { width: 100%; background-size: cover; background-repeat: no-repeat; background-position: right 0 top 80%; background-color: #000000b4; background-blend-mode: overlay; display: block; color: white; }

.landing-grid { max-width: -webkit-calc(900px - (30px * 2)); max-width: calc(900px - (30px * 2)); min-height: 400px; margin-left: auto !important; margin-right: auto !important; }

@media screen and (max-width: 600px) { .landing-grid > div { text-align: center !important; } }

@media screen and (max-width: 900px) { .landing-grid > div { padding: 0 20px !important; } }

.landing-emblem { flex-basis: auto !important; margin-top: auto; margin-bottom: auto; }

.landing-emblem img { width: 250px; max-width: none; }

.landing-textbox { margin-top: auto; margin-bottom: auto; }

@media screen and (min-width: 600px) { .landing-textbox { padding: 0 20px 0 0 !important; } }

.webp #landingcontainer { background-image: url(../assets/SDJB4648.webp); }

.no-webp #landingcontainer { background-image: url(../assets/SDJB4648.jpg); }

#landingcontainer a { color: #fff; font-size: 110%; }

@media (min-aspect-ratio: 1/2) { .webp #landingcontainer { background-image: url("../assets/SDJB46002.webp"); background-position: right 0 top 70%; } .no-webp #landingcontainer { background-image: url("../assets/SDJB46002.jpg"); background-position: right 0 top 70%; } }

#landingcontainer img { margin: 10px auto 10px; }

#logocontainer { margin: 10px auto 10px; }

.site-title { font-size: 26px; font-weight: 400; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #101010; }

.site-title:hover { text-decoration: none; }

.light { display: inline; font-weight: 300; }

.semibold { display: inline; font-weight: 600; }

.site-nav { float: right; line-height: 56px; /* The dropdown container */ /* Dropdown button */ /* Dropdown content (hidden by default) */ /* Links inside the dropdown */ /* Add a grey background color to dropdown links on hover */ /* Show the dropdown menu on hover */ }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #111; line-height: 1.5; margin-left: 20px; }

.site-nav .dropdown { /*float: left; overflow: hidden;*/ display: inline-block; padding: 0; position: relative; }

.site-nav .dropdown .dropbtn { border: none; outline: none; background-color: inherit; font-family: inherit; /* Important for vertical align on mobile phones */ }

.site-nav .dropdown-content { display: none; position: absolute; text-align: right; right: -10px; top: 48px; background-color: #ffffff; border-radius: 5px; min-width: 160px; z-index: 1; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.12); }

.site-nav .dropdown-content a { float: none; display: block; padding: 5px 10px; }

.site-nav .dropdown-content a:not(:last-child) { margin-right: 0; }

.site-nav .dropdown:hover .dropdown-content { display: block; }

@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #ffffff; border-radius: 5px; text-align: right; line-height: normal; } .site-nav:hover { box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.12); } .site-nav .dropdown-content { right: 80px; top: 0; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; box-shadow: none; } .site-nav .menu-icon > svg { width: 18px; height: 15px; } .site-nav .menu-icon > svg path { fill: #101010; } .site-nav .trigger { clear: both; display: none; } .site-nav:hover .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 1px solid #b6b6b6; padding: 30px 0; }

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 15px; color: #505050; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 900px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

/** Page content */
.page-content { padding: 30px 0; }

.page-heading { font-size: 20px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #505050; }

.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }

@media screen and (max-width: 900px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 32px; margin-top: 25px; }

@media screen and (max-width: 900px) { .post-content h2 { font-size: 28px; } }

.post-content h3 { font-size: 22px; }

@media screen and (max-width: 900px) { .post-content h3 { font-size: 20px; } }

.post-content h4 { font-size: 20px; }

@media screen and (max-width: 900px) { .post-content h4 { font-size: 18px; } }

.float-left { display: block; float: left; margin: 0 25px 25px 0; }

.float-right, .tweetbox { display: block; float: right; margin: 0 0 25px 25px; }

.float-center { display: block; margin-left: auto; margin-right: auto; }

.image-small { width: 125px; }

.image-s-m { width: 200px; }

.image-medium { width: 250px; }

.image-large { width: 500px; }

.image-x-large { width: 700px; }

.image-xx-large { width: 800px; }

.image-inset-bottom { margin-bottom: -30px; }

.image-large, .image-medium, .image-small, .tweetbox, .elevated { box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.12); border-radius: 4px; }

.no-shadow { box-shadow: none !important; }

.tweetbox { width: 365px; }

@media screen and (max-width: 600px) { .image-medium, .image-large, .tweetbox { width: 100%; } }

.flex-container, .flex-container-tight { display: flex; margin: 0; }

.flex-valign-center { align-items: center; }

.flex-grow { flex-grow: 1 !important; }

.flex-content { flex-basis: content !important; }

.flex-auto { flex-basis: auto !important; }

@media screen and (max-width: 600px) { .flex-container, .flex-container-tight { flex-direction: column; } .flex-container-horizontal { flex-direction: row !important; } }

.flex-container-vertical { flex-direction: column; }

.flex-container > div { flex-basis: 100%; }

.flex-container-tight > div { margin: 10px 20px 10px 0; padding: 10px 40px 10px 0; flex-basis: auto; text-align: left; }

.padding-small { padding: 20px !important; }

.margin-remove { margin: 0 !important; }

.margin-bottom-small { margin-bottom: 20px !important; }

.margin-right-small { margin-right: 20px !important; }

.margin-left-small { margin-left: 20px !important; }

.text-center { text-align: center !important; }

.download-btn { display: inline-block; width: fit-content; padding: 10px; background-color: #c5247f; color: #fff !important; text-decoration: none !important; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.12); border-radius: 4px; transition: box-shadow 0.2s ease-in-out; }

.download-btn:hover { box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.12); }

.download-btn.outline { background-color: transparent; border: 1px solid #c5247f; color: #c5247f !important; transition: box-shadow 0.2s ease-in-out; }

.big-icon { font-size: 64px; color: #c5247f; }

.hint-text { margin: 0 -10px; color: #505050; font-size: 14px; }

.styz-image { display: inline-block; margin: 10px 0 20px 0; }

.styz-image img { height: 200px; }

.text-center { text-align: center; }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

/*# sourceMappingURL=main.css.map */