<!DOCTYPE html>
<!--This template is hacked together from the raw HTML source of openflexure.org on
2-Dec-2020 -->
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{root}}favicon.ico">
    <link rel="icon" type="image/png" href="{{root}}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{root}}favicon-16x16.png" sizes="16x16">
    <link href="{{root}}main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.3/dist/katex.min.css" integrity="sha384-ThssJ7YtjywV52Gj4JE/1SQEDoMEckXyhkFVwaf4nDSm5OBlXeedVYjuuUd0Yua+" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.3/dist/katex.min.js" integrity="sha384-Bi8OWqMXO1ta+a4EPkZv7bYGIes7C3krGSZoTGNTAnAn5eYQc7IIXrJ/7ck1drAi" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.3/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {

            delimiters: [
                {left: '$$', right: '$$', display: true},
                {left: '$', right: '$', display: false}
            ],
            // • rendering keys, e.g.:
            throwOnError : false
            });
        });
    </script>

    
</head>
<header class="site-header">
<div class="wrapper">
    <a class="site-title" href="https://openflexure.org"><div class="semibold">open</div>flexure<div class="light">.org</div></a>
    <nav class="site-nav">
      <a href="#" class="menu-icon" aria-label="Main menu">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"></path>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"></path>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"></path>
        </svg>
      </a>
      <div class="trigger">
            <a class="page-link " href="{{root}}index.html">OFEP Index</a>
      </div>
    </nav>
  </div>
  </header>
  <div class="page-content">
    <div class="wrapper">
      <div class="flex-container">
        <div class="flex-grow flex-container flex-container-vertical">
          <div class="flex-container flex-auto flex-container-horizontal flex-valign-center elevated padding-small float-left margin-bottom-small">
            <div class="flex-grow">
            {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">The OpenFlexure project</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a target="_blank" href="https://openflexure.discourse.group/">OpenFlexure Forum</a></li>
          <br/>
          <li><a href="mailto:contact@openflexure.org">contact@openflexure.org</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
      </div>
      <div class="footer-col footer-col-3">
        <p>The OpenFlexure project aims to make high precision  mechanical positioning available to anyone with a 3D printer -  for use in microscopes, micromanipulators, and more.</p>
      </div>
    </div>
  </div>
</footer>
  </body>
</html>
